@font-face {
    font-family: 41j9-bPC0VL;
    src: url(./fonts/41j9-bPC0VL.woff);
}

@font-face {
    font-family: AmazonEmber_Lt;
    src: url(./fonts/AmazonEmber_Lt.woff);
}

@font-face {
    font-family: AmazonEmber_Rg;
    src: url(./fonts/AmazonEmber_Rg.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: grey;
}
.menu-icon{
    display: flex;
    align-items: center;
    gap: 48px;
}
.header {
    width: 100%;
    height: 8vh;
    background-color: rgb(3, 3, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.navbar{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}
.navbar :hover{
    background:#222;
    transition: 1s;
    text-transform: none;
}
.navbar li a{
    font-size: 18px;
    padding: 20px 15px;
    text-decoration: none;
    font-family: 'AmazonEmber_Rg';
    color: darkgrey;
    font-weight: bolder;
    text-align: center;
}
#logo1 {
    width: 104px;
    height: 19.5px;
}
#logo2 {
    width: 32px;
    height: 32px;
}
li {
    float: left;
}
.imgalia {
    background-image: linear-gradient( to right, #000 40%, transparent 58% ), url(./images/MLP.jpg);
    background-position: center;
    background-size: cover;
    height: 595.33px;
}
.search{
    width: 27px;
    height: 25px;
}
.content {
    color: white;
    max-width: 1500px;
    font-size: 42px;
    line-height: 50px;
    text-align: left;
    line-height: 0.%;
    letter-spacing: 1px;
    padding-top: 41px;
    padding-left: 35px;
}
.content h2 {
    font-family: 'AmazonEmber_Lt', sans-serif;
    font-size: 2.8rem;
    font-weight: 400;
}
.content h5 {
    font-family: 'AmazonEmber_Lt', sans-serif;
    margin-top: 24px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 400;
}
.btn-one:hover {
    background-color: #0f79af;
    transition: 1s;
    text-transform: none;
}
.imgbarbie {
    padding: 50px 5%;
    background-image: linear-gradient(to left, #000 40%, transparent 58%), url(images/TVOD_MLP.jpg);
    background-position: left top;
    width: 100%;
    height: 480px;
    background-size: cover;
}
.image-logo{
    display: flex;
    align-items: center;
}
.content2 {
    color: white;
    font-size: 30px;
    text-align: left;
    letter-spacing: 1px;
    padding-left: 57%;
}
.content2 h1{
    line-height: 1.2;
    font-size: 40px;
    font-family: 'AmazonEmber_Lt';
}
.content2 h4{
    font-family: 'AmazonEmber_Lt';
    font-weight: 500;
    margin-top: 24px;
    font-size: 18px;
}
.content3{
    color: black;
    text-align: left;
    letter-spacing: 1px;
    margin-left: 66px;
    padding-top: 32px;
    font-weight: 200;
}
.content3 h1{
    font-size: 44.8px;
    width:518px;
    font-family: 'AmazonEmber_Lt';
    height: 99.19px;
}
.content3 p{
    font-size: 23.8px;
    width:518px;
    font-family: 'AmazonEmber_Lt';
    height: 99.19px;
    margin-top: 30px;
}
.content4 {
    color: white;
    font-size: 30px;
    text-align: left;
    letter-spacing: 1px;
    padding-left: 57%;
    padding-top: 60px;
}
.content4 h1{
    line-height: 1.2;
    font-size: 40px;
    font-family: 'AmazonEmber_Lt';
}
.content4 p{
    font-weight: 500;
    margin-top: 24px;
    font-size: 20px;
    width: 509px;
    font-family: 'AmazonEmber_Lt';
}
.content5 {
    color: white;
    font-size: 30px;
    text-align: left;
    letter-spacing: 0.5px;
    padding-left: 5%;
    padding-top: 54px;
}
.content5 h1{
    line-height: 1.2;
    font-size: 40px;
    font-family: 'AmazonEmber_Lt';
}
.content5 p{
    font-weight: 500;
    margin-top: 24px;
    font-size: 20px;
    width: 511px;
    font-family: 'AmazonEmber_Lt';
}
.btn2 {
    padding: 16px 18px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    background: #0f79af;
    width: 280px;
    height: 54px;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin-top: 48px;
}
.btn-one {
    margin-top: 8px;
    cursor: pointer;
}
.ytbg {
    background-color: white;
    height: 92vh;
    display: flex;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 10px;
    margin-left: 60px;
}
.grid-container img{
    width: 186px;
    height: 128.37px;
    cursor: pointer;
    transition: color .2s ease-in-out;
}
.grid-container img:hover{
    box-shadow: 0px 1px 6px 4px #333;
    text-transform: none;
}
.remote {
    background-image: url(images/remote.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 508px;
}
.Bheem {
    background-image: url(images/bheem.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 484px;
}
.footer {
    background-color: #222;
    width: 100%;
    height: 138px;
}
#logo3 {
    padding-left: 46%;
    padding-top: 26px;
}
.ftcnt li{
    list-style: none;
}
.ftcnt li a{
    display: flex;
    align-items: center;
    gap: 16px;
    color: #0f79af;
    text-decoration: none;
    font-family: 'AmazonEmber_Lt';
    margin-left: 20px;
}
.ftcnt{
    margin-left: 433px;
}
.last{
    margin-top: 20px;
    margin-left: 491px;
    color: darkgray;
    font-family: 'AmazonEmber_Lt';
    font-size: 14px;
}